body {
    background-color: cornflowerblue;
    font-family: 'Open Sans Condensed', sans-serif;
}

.titles {
    font-family: 'Playfair Display', serif;
}

header div {
    text-align: left;
    font-family: 'Liu Jian Mao Cao', cursive;
    display: inline-block;
    width: 30%;
}

nav {
    text-align: right;
    display: inline-block;
    width: 69%;
}

footer img {
    border-radius: 50%;
    float: left;
    width: 40px;

}